* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.border {
    border: 1px solid white;
}

/* utility classes */

.over-hidden {
    overflow: hidden;
}

.over-scroll {
    overflow: scroll;
}

.over-scroll::-webkit-scrollbar {
    display: none;
}

.over-auto {
    overflow: auto;
}

.over-auto::-webkit-scrollbar {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.text-grey {
    color: #a3a3a3;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.spaced-text {
    padding-right: 20px;
    padding-bottom: 30px;
    display: inline-block;
}

.hover-white:hover {
    color: white;
}

.round-img {
    border-radius: 50%;
}
/* MAIN */

main {
    height: calc(100vh - 90px);
    display: flex;
}

/* NAV */

nav {
    background-color: black;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

nav a {
    color: #a3a3a3
}

nav .nav-cta-text {
    display: none;
    font-size: 14px;
    padding-left: 7px;
    line-height: 32px;
    vertical-align: top;
}

.nav-logo-small {
    width: 50px;
    padding: 5px 7px;
}

.nav-logo {
    width: 155px;
    padding: 15px 0;
    display: none;
}

.nav-cta {
    padding: 10px 0;
}

.nav-cta li {
    padding: 2px 0;
}

.nav-cta img {
    width: 32px;
}

nav .fa {
    font-size: 50px;
    padding-right: 7px;
}

.nav-logo-small img {
    width: 100%;
}

.playlist-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.playlist-section ul {
    flex-grow: 1;
}

.playlist-section h4 {
    font-size: 15px;
    padding: 10px 0;
}

.playlist-section ul,
.playlist-section h4 {
    display: none;
}

.playlist-section li {
    padding: 15px 0;
}

.make-playlist {
    font-size: 14px;
}

.make-playlist span {
    vertical-align: text-bottom;
    line-height: 39px;
}

nav .user {
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.download-logo {
    width: 17px;
}

.user-logo {
    width: 100%;
}

.user-logo-container {
    display: inline-block;
    background-color: #808080;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;;
}



nav .user a:first-of-type .fa {
    font-size: 14px;
}

nav i {
    margin: 4px 0;
}

.nav-cta img,
.download-logo {
    opacity: 0.7;
}

.nav-cta img:hover,
.download-logo:hover {
    opacity: unset;
}



/* UPGRADE SECTION */
.upgrade-section {
    background-color: #080b12;
    height: 80px;
}

.upgrade-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 3px;

    float: right;
    position: relative;
    top: 20px;
}

.upgrade-btn:hover {
    font-size: 13px;
}

.playlist-container span {
    display: inline-block;
    position: relative;
}

.playlist-container span:hover > .green-bar {
    display: inline-block;
}

.green-bar {
    display: inline-block;
    height: 3px;
    width: 25px;
    background-color: #a1ed2e;
    position: absolute;
    top: 50%;
    right: 45%;
    display: none;
}

/* CENTRAL SECTION */
.central-section {
    background-color: #141922;
    width: calc(100vw - 60px);
}

.playlist-container {
    padding: 15px;
}

.playlist-row {
    margin-right: -8px;
    margin-left: -8px;
    display: flex;
    flex-wrap: wrap;
}

.playlist-row img {
    width: 100%;
}

.playlist-box {
    padding: 8px 8px 25px 8px;
    width: 50%;
    float: left;
}

.go-to-head {
    width: 100%;
}

.playlist-container h2 {
    font-size: 25px;
    padding-bottom: 7px;
    padding-top: 15px;
}

.playlist-container h4 {
    font-size: 14px;
    padding: 7px 0;
}

.playlist-album-img {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #00000077;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.overlay .fa {
    font-size: 40px;
}

.playlist-box:hover .overlay {
    visibility: visible;
}

/* FOOTER */
footer {
    height: 90px;
    background-color: #282828;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.track-played-img {
    width: 55px;
}

.track-played-img img {
    width: 100%;
}

.track-player {
    display: flex;
    align-items: center;
    flex-basis: 150px;
    padding-left: 5px;
}

.track-player-artist {
    padding: 0 3px;
}

.track-player-artist a {
    display: block;
}

.track-played-icon i {
    font-size: 14px;
    padding: 3px;
}

.track-played-icon {
    width: 22px;
}


.player {
    flex-grow: 1;
    flex-basis: 250px;
    height: 80px;
}

.player-controls {
    width: 150px;
    margin: auto;
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player .fa-play-circle-o {
    font-size: 30px;
}

.player .fa:not(.fa-play-circle-o) {
    font-size: 15px;
}

.player-bar-container {
    flex-grow: 1;
    max-width: 650px;
    margin: auto;
    display: flex;
    align-items: center;
}

.player-bar,
.volume-bar {
    height: 4px;
    width: 100%;
    margin: 0 5px;
    background-color: #5a5a5a;
    position: relative;
}

.progress-bar,
.progress-volume-bar {
    height: 100%;
    width: 25%;
    background-color: #a3a3a3;
    position: absolute;
    top: 0;
    left: 0;
}

.green-progress-bar {
    height: 100%;
    width: 25%;
    background-color: #a1ed2e;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.cursor {
    width: 8px;
    height: 8px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -25%);
    right: -7px;
}

.player-bar:hover > .green-progress-bar {
    display: inline-block;
}

.volume-bar:hover > .green-progress-bar {
    display: inline-block;
}

.volume-bar {
    width: 80px;
}

.extra-controls {
    flex-basis: 150px;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.extra-controls i {
    padding: 5px
}

/* size xs- mobile */
@media screen and (min-width: 425px) {

    /* nav */
    nav {
        align-items: flex-start;
        width: 250px;
        padding: 10px;
    }

    nav .nav-cta-text {
        display: inline-block;
    }

    .playlist-section ul,
    .playlist-section h4 {
        display: block;
    }
    
    .nav-logo-small {
        display: none;
    }

    .nav-logo {
        display: inline-block;
    }

    nav .user {
        width: 100%;
        align-items: unset;
    }

    .download-container {
        border-bottom: 1px solid #808080;
        padding-bottom: 5px;
    }

    .download-logo {
        vertical-align: middle;
    }

    .download-container span {
        vertical-align: middle;
    }

    .user>a {
        padding-top: 12px;
    }

    .track-player-artist {
        padding: 0 10px;
    }

    .player-bar-container {
        padding: 0 15px;
    }
}


@media screen and (min-width: 768px) {
    .extra-controls {
    width: 200px;
    }

    .track-played-icon i {
        padding: 8px;
    }

    .track-played-icon {
        display: flex;
        width: auto;
    }

@media screen and (min-width: 970px) {
    .go-to-head {
        width: 50%;
    }
}

@media screen and (min-width: 1170px) {
    .go-to-head {
        width: calc(100% / 3);
    }
}