* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* utility classes */

.over-hidden {
    overflow: hidden;
}

.over-scroll {
    overflow: scroll;
}

.over-scroll::-webkit-scrollbar {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.text-grey {
    color: #a3a3a3;
}

.text-white {
    color: white;
}

.text-center {
    text-align: center;
}

.spaced-text {
    padding-right: 20px;
    display: inline-block;
}
/* MAIN */

main {
    height: calc(100vh - 90px);
    display: flex;
}

/* NAV */

nav {
    background-color: black;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    color: #a3a3a3
}

nav .nav-cta-text {
    display: none;
    font-size: 14px;
}

.nav-logo-small {
    width: 40px;
    padding: 5px;
}

.nav-logo {
    width: 180px;
    padding: 15px;
    display: none;
}

nav .fa {
    font-size: 25px;
}

nav img {
    width: 25px;
}

.playlist-section {
    flex-grow: 1;
}


.playlist-section ul,
.playlist-section h4 {
    display: none;
}

nav .user {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .user a:first-of-type .fa {
    font-size: 14px;
}

nav i {
    margin: 4px 0;
}



/* UPGRADE SECTION */
.upgrade-section {
    background-color: #080b12;
    height: 80px;
}

.upgrade-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 3px;

    float: right;
    position: relative;
    top: 20px;
}

/* CENTRAL SECTION */
.central-section {
    background-color: #141922;
    width: calc(100vw - 60px);
}

.playlist-container {
    padding: 15px;
}

.playlist-row {
    margin-right: -8px;
    margin-left: -8px;
    display: flex;
    flex-wrap: wrap;
}

.playlist-row img {
    width: 100%;
}

.playlist-box {
    padding: 8px;
    width: 50%;
    float: left;
}

.go-to-head {
    width: 100%;
}


/* FOOTER */
footer {
    height: 90px;
    background-color: #282828;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track-played-img {
    width: 55px;
}

.track-played-img img {
    width: 100%;
}

.track-player {
    display: flex;
    align-items: center;
    max-width: 250px;
    padding-left: 5px;
}

.track-player a {
    display: block;
}

.player {
    flex-grow: 1;
    height: 80px;
}

.player-controls {
    width: 150px;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
}

.player-bar-container {
    max-width: 65%;
    min-width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
}

.player-bar,
.volume-bar {
    height: 4px;
    width: 100%;
    margin: 0 5px;
    background-color: #5a5a5a;
    position: relative;
}

.progress-bar,
.progress-volume-bar {
    height: 100%;
    width: 25%;
    background-color: #a3a3a3;
    position: absolute;
    top: 0;
    left: 0;
}

.volume-bar {
    width: 80px;
}

.extra-controls {
    width: 150px;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.extra-controls i {
    padding: 5px
}



/* size xs- mobile */
@media screen and (min-width: 425px) {

    /* nav */
    nav {
        align-items: flex-start;
        width: 250px;
        padding: 10px 0 0 13px;
    }

    nav .nav-cta-text {
        display: inline-block;
    }

    .playlist-section ul,
    .playlist-section h4 {
        display: block;
    }

    .track-player a {
        display: inline;
    }

    /* .playlist-box {
        flex-basis: calc(100% / 4); 
    } */
}


@media screen and (min-width: 768px) {
    .extra-controls {
    width: 200px;
    }
}

@media screen and (min-width: 970px) {
    .go-to-head {
        width: 50%;
    }
}

@media screen and (min-width: 1170px) {
    .go-to-head {
        width: calc(100% / 3);
    }
}