* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* users classes */

.over-hidden {
    overflow: hidden;
}

.over-scroll {
    overflow: scroll;
}

.over-scroll::-webkit-scrollbar {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.text-grey {
    color: #a3a3a3;
}

.text-white {
    color: white;
}
/* MAIN */

main {
    height: calc(100vh - 90px);
    display: flex;
}

/* NAV */

nav {
    background-color: black;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    color: #a3a3a3
}

nav .nav-cta-text {
    display: none;
    font-size: 14px;
}

.nav-logo-small {
    width: 40px;
    padding: 5px;
}

.nav-logo {
    width: 180px;
    padding: 15px;
    display: none;
}

nav .fa {
    font-size: 25px;
}

nav img {
    width: 25px;
}

.playlist-section {
    flex-grow: 1;
    /* overflow: scroll; */
}

/* .playlist-section::-webkit-scrollbar {
    display: none;
} */

.playlist-section ul,
.playlist-section h4 {
    display: none;
}

nav .user {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .user a:first-of-type .fa {
    font-size: 14px;
}

nav i {
    margin: 4px 0;
}


/* CENTRAL SECTION */
.central-section {
    background-color: #141922;
    width: calc(100vw - 60px);
}

/* UPGRADE SECTION */
.upgrade-section {
    background-color: #080b12;
    height: 80px;
}

.upgrade-btn {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;

    float: right;
    position: relative;
    top: 20px;
}

/* FOOTER */
footer {
    height: 90px;
    background-color: #282828;
}




/* prove */
nav li {
    color: burlywood;
}


@media screen and (min-width: 768px) {

    /* nav */
    nav {
        align-items: flex-start;
        width: 250px;
        padding: 10px 0 0 13px;
    }

    nav .nav-cta-text {
        display: inline-block;
    }

    .playlist-section ul,
    .playlist-section h4 {
        display: block;
    }
}